appnope==0.1.0
arviz==0.2.1
asn1crypto==0.24.0
astroid==2.0.3
backcall==0.1.0
bleach==3.0.2
certifi==2018.8.24
cffi==1.11.5
cftime==1.0.2.1
chardet==3.0.4
cryptography==2.3.1
cryptography-vectors==2.3.1
cycler==0.10.0
Cython==0.29
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
h5py==2.8.0
idna==2.7
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.12.0
Jinja2==2.10
joblib==0.12.5
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==3.0.1
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.6
mkl-random==1.0.1
nb-anacondacloud==1.2.0
nb-conda==2.0.0
nb-conda-kernels==2.0.0
nbconvert==5.4.0
nbformat==4.4.0
nbpresent==3.0.2
netCDF4==1.4.2
notebook==5.7.0
numpy==1.14.3
pandas==0.23.4
pandocfilters==1.4.2
parso==0.2.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.4.2
prompt-toolkit==2.0.6
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.2.0
pygpu==0.7.6
pylint==2.1.1
-e git+https://github.com/springcoil/pymc3.git@ea5ecf3608a6b35c484930ea002d1ef20fc49952#egg=pymc3
pyOpenSSL==18.0.0
pyparsing==2.2.2
PySocks==1.6.8
pystan==2.18.0.0
python-dateutil==2.7.3
pytz==2018.4
PyYAML==3.13
pyzmq==17.1.2
requests>=2.20.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.3
tornado==5.1.1
tqdm==4.23.4
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
wrapt==1.10.11
xarray==0.10.9
